@using System.Web.Mvc.Html
@model PresentationWebSite.UI.WebMvc.Models.Introduction.GraduationModel

@{
    ViewBag.Title = @Model.ActiveTab;
    Layout = "_Show.cshtml";
}

<h2>@Resources.Global.INTRODUCTION_ADD_GRADUATION_HEADER</h2>
@{
    using (Html.BeginForm("AddGraduation", "Introduction", FormMethod.Post, new { model = Model}))
    {
        @Html.EditorFor(m => m.ObtainingDateTime)
        @Html.EditorFor(m => m.Texts, "IEnumerableText")
        <input type="submit" value="Save"/>
        <a href='javascript:history.go(-1)'>Go Back to Previous Page</a>
    }
}





