@using System.Globalization
@model PresentationWebSite.UI.WebMvc.Models.Introduction.GraduationsModel

@{
    Layout = "~/Views/Introduction/_Show.cshtml";
}
@*<a href="@Url.Action("", "Introduction")">Add</a>*@

@foreach (var grade in @Model.Graduations)
{
    <tr>
            @{
                var value = grade.Texts.FirstOrDefault(x => x.Language.CultureIsoCode == CultureInfo.CurrentCulture.Name)?.Value;
                var year = grade.ObtainingDateTime.Year;
                <th>@value</th>
                <th>@year</th>
            }
    </tr>
}