@using System.Configuration
@{
    ViewBag.Title = "Contact";
}
<br/>
<div class="panel panel-default">
    <br/>
    <address class="text-center">
        <strong>@ConfigurationManager.AppSettings["ApplicationOwnerName"]</strong><br/>
        @ConfigurationManager.AppSettings["ApplicationOwnerAddress"]<br/>
        @{
            var phone = ConfigurationManager.AppSettings["ApplicationOwnerPhone"];
            if (Request.Browser.IsMobileDevice)
            {
                <a href="tel:@phone">
                    <span class="glyphicon glyphicon-earphone"></span>@phone
                </a><br/>
            }
            else
            {
                <div>
                    <span class="glyphicon glyphicon-earphone"></span>@phone
                </div><br/>
            }
            var email = ConfigurationManager.AppSettings["ApplicationOwnerEmail"];
            <a href="mailto:@email">@email</a><br/>
        }
    </address>
    @*<form action="?" method="POST">
            <div class="g-recaptcha" data-sitekey=""></div>
            <br />
            <input type="submit" value="Submit">
        </form>*@
</div>