@{
    ViewBag.Title = @Resources.Global.APPLICATION_OWNER_NAME + " - " + @Resources.Global.APPLICATION_OWNER_JOB;
}

<div class="jumbotron">
    <h1>@Resources.Global.APPLICATION_OWNER_NAME</h1>
    <h2>@Resources.Global.APPLICATION_OWNER_JOB</h2>
    <p class="lead">Text lead</p>
</div>

<div class="row">
    <div class="col-xs-6 col-md-4">
        <h2>Texte 1</h2>
        <p>
            texte 1
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-xs-6 col-md-4">
        <h2>Texte 2</h2>
        <p>texte 2</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
</div>