@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" /*, @class = "navbar-right"*/ }))
    {
        @Html.AntiForgeryToken()


        @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        <a class="btn btn-default btn-sm" href="javascript:document.getElementById('logoutForm').submit()">
            <span class="glyphicon glyphicon-log-out"></span>
        </a>
    }
}
else
{
    <a class="btn btn-default btn-sm" href="@Url.Action("Login", "Account")">
        <span class="glyphicon glyphicon-lock"></span> Log In
    </a>
}